fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
onnxruntime==1.19.2
opencv-python-headless==4.10.0.84
pillow==10.4.0
numpy==1.26.4
psycopg2-binary==2.9.9
requests==2.32.3
insightface==0.7.3
cloudinary==1.41.0
